@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --fonte-principal: "Inter", sans-serif;
    --vermelho: #8E2424;
    --cinza:#667085;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte-principal);
}

/* Header */

header{
    height: 80px;
    padding: 20px;   
}

nav{
    height: 44px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 32px;

}

#logo{
    display: flex;
    color:#3A404E;
    font-size: 18px;
    line-height: 27px;
    gap: 8px;
    height: 27px;
}

nav > div > img{
    width: 27px;   
}

ul{
    display: flex;
    gap: 32px;
}

li{
    list-style-type: none;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: var(--cinza);
    align-items: center;
    cursor: pointer;
}

#nav-buttons{
    display: flex;
    justify-content: center;
    width: 207px;
    gap: 12px;
}

#btn-entrar{
    height: 44px;
    width: 83px;
    background-color: white;
    border: none;
    border-radius: 8px;
    color: var(--cinza);
    cursor: pointer;
    padding: 10px 18px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}

#btn-cadastrar{
    height: 44px;
    width: 112px;
    background-color: var(--vermelho);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}

#btn-entrar:hover{
    text-decoration: underline;
}

#btn-cadastrar:hover{
    background-color: #d53737;
    cursor: pointer;
}

/* Main */

.main-cabecalho{
    display: flex;
    flex-direction: column;
    height: 407px;
    padding: 96px 0px;
    gap: 24px;
    text-align: center;
}

.h3-cabecalho{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: var(--vermelho);
}

.h1-cabecalho{
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
    color: #101828;
    
}

.p-cabecalho{
    margin: auto;
    width: 850px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: var(--cinza);
    padding: 12px;

}