@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --fonte-principal: "Inter", sans-serif;
    --branco: #FFFFFF;
    --vermelho: #8E2424;
    --cinza:#667085;
    --cinza-escuro: #3A404E;
    --azul-escuro: #101828;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte-principal);
}

/* Header */

header{
    height: 80px;
    padding: 20px;   
}

nav{
    height: 44px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 32px;

}

#logo{
    display: flex;
    color:var(--cinza-escuro);
    font-size: 18px;
    line-height: 27px;
    gap: 8px;
    height: 27px;
}

nav > div > img{
    width: 27px;   
}

ul{
    display: flex;
    gap: 32px;
}

li{
    list-style-type: none;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: var(--cinza);
    align-items: center;
    cursor: pointer;
}

#nav-buttons{
    display: flex;
    justify-content: center;
    width: 207px;
    gap: 12px;
}

#btn-entrar{
    height: 44px;
    width: 83px;
    background-color: var(--branco);
    border: none;
    border-radius: 8px;
    color: var(--cinza);
    cursor: pointer;
    padding: 10px 18px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}

#btn-cadastrar{
    height: 44px;
    width: 112px;
    background-color: var(--vermelho);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}

#btn-entrar:hover{
    text-decoration: underline;
}

#btn-cadastrar:hover{
    background-color: #d53737;
    cursor: pointer;
}

/* Main */

.main-cabecalho{
    display: flex;
    flex-direction: column;
    height: 407px;
    padding: 96px 0px;
    gap: 24px;
    text-align: center;
}

.h3-cabecalho{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: var(--vermelho);
}

.h1-cabecalho{
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
    color: var(--azul-escuro);  
}

.p-cabecalho{
    margin: auto;
    width: 850px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: var(--cinza);
    padding: 12px;
}

.metricas{
    display: flex;
    margin: auto;
    height: 192px;
    width: 1280px;
    padding: 32px;
    column-gap: 64px;
}

.numero-metricas{
    font-size: 60px;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: -2%;
    color: var(--vermelho);
}

.titulo-metricas{
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    color: var(--azul-escuro);
}

.texto-metricas{
    width: 280px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--cinza);

}

.vagas{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 96px;
    gap: 64px;
}

.vagas-talentos{
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.vagas-cabecalho{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 16px;
}

.vagas-abertas{
    width: fit-content;
    margin: auto;
    background-color: #E5E5E5;
    color: var(--vermelho);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    border-radius: 16px;
    padding: 4px 12px;
}

.titulo-vagas{
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    color: var(--azul-escuro);
}

.subtitulo-vagas{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: var(--cinza);
}
